.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #646cff;
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-icon {
  position: relative;
  margin-right: 20px;
}

.cart-item-count {
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  position: absolute;
  top: -10px;
  right: -10px;
}